.mindar-ui-overlay {
  z-index: 0;
}

.Body {
  margin: 0;
}

.Container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}



.joystick {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.control {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 200px;
  z-index: 2;
  text-align:center;
}

button {
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: black;
  outline: none;
  box-shadow: 2px 4.8px rgba(121, 121, 121, 0.70);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 4.8px);
  box-shadow: 0 1.6px rgba(255, 255, 255, 0.70);
}